spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
      # Add a Global Filter for all routes
      default-filters:
        # This filter applies to ALL routes.
        # It takes the incoming path, strips off the first 2 segments (which will be /api/v1),
        # before sending the request to the downstream service.
        - StripPrefix=2
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          # Update the predicate to include the desired prefix
          predicates:
            - Path=/api/v1/users/**
        - id: payment-service
          uri: lb://TRANSACTION-SERVICE
          predicates:
            - Path=/api/v1/payments/**
server:
  port: 8080
jwt:
  secret: ThisIsMyLongSecureSecretKeyThatIs32Bytes

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
logging:
  level:
    org.springframework.security: DEBUG