spring:
  application:
    name: USER-SERVICE
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/transaction_j_db
    username: 6916
    password: ologunde3570
    driver-class-name: com.mysql.cj.jdbc.Driver

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.springframework.security: DEBUG

jwt:
  secret: ThisIsMyLongSecureSecretKeyThatIs32Bytes

service:
  internal-auth-token: "VERY_LONG_AND_COMPLEX_INTERNAL_SERVICE_KEY_12345"
