spring:
  application:
    name: TRANSACTION-SERVICE
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/transaction_j_db
    username: 6916
    password: ologunde3570
    driver-class-name: com.mysql.cj.jdbc.Driver
server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.springframework.security: DEBUG

jwt:
  secret: ThisIsMyLongSecureSecretKeyThatIs32Bytes